{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mb-4">
			<div class="col">
				<h1>{{titulo_template}}{{titulo}}</h1>
			</div>
		</div>

		{% include 'includes/manejo_errores.html' %}

		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Titulo del Curso</label>
				</div>
				<div class="col-8">
					{{form.titulo}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Descripcion del Curso</label>
				</div>
				<div class="col-8">
					{{form.descripcion}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Disciplina</label>
				</div>
				<div class="col-8">
					{{form.disciplina}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Logo del Curso</label>
				</div>
				<div class="col-8">
					{{form.avatar}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Precio del Curso</label>
				</div>
				<div class="col-8">
					{{form.precio}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col">
					<input class="btn btn-primary btn-block" type="submit" value="Submit">	
				</div>
			</div>
		</form>
	</div>
{% endblock %}