{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}
<form action="" method="post">
	{% csrf_token %}
	<div class="container">
		<div class="row mb-3">
			<div class="col">
				Esta seguro de borrar la recomendacion "{{object}} ?
			</div>
		</div>
		<div class="row">
			<div class="col"><input type="submit" value="Confirmar" name="" id=""></div>
			<div class="col"><a class="btn btn-primary btn-block" href="{% url 'visitante:editar_curso' object.curso.id %}">Cancelar</a></div>
		</div>
	</div>
	
</form>
{% endblock %}