{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Restauracion de la clave</h1>			
			</div>
		</div>
		<div class="row">
			<div class="col">
				Ha olvidado su clave? Introduzca su email y le enviaremos por correo electronico la instruccion para establecer una nueva		
			</div>
		</div>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-3">
					<label for="id_email">Correo electronio:</label>		
				</div>
				<div class="col-9">
					<input type="email" name='email' autocomplete="email" maxlength="254" required id="id_email">	
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input class="btn btn-primary btn-block" type="submit" value="Submit">	
				</div>
			</div>
		</form>
	</div>
{% endblock %}