{% extends 'base_formularios.html' %}

{% block cursos_centro %}

{% load static %}

	<div class="container">
		<div class="row mb-4 mt-4">
			<div class="col">
				Le hemos enviado por email las instrucciones para restablecer la clave si es que existe una cuenta con la direccion electronica que indico. Deberia recibirlas en breve.
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				Si no recibe un correo, por favor asegurese de que ha introducido la direccion de correo con la que se registro y verifique su carpeta de spam
			</div>
		</div>
	</div>
{% endblock %}