			<div class="row mb-4">
				<div class="col-4">
					<label for="">Nombre:</label>
				</div>
				<div class="col-8">
					{{form.nombre}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Descripcion:</label>
				</div>
				<div class="col-8">
					{{form.descripcion}}
				</div>
			</div>			
			<div class="row mb-4">
				<div class="col">
					<input class="btn btn-primary btn-block" type="submit" value="Grabar">	
				</div>
			</div>
			<!-- <input type="text" hidden="true" value="{{curso.id}}" name="curso_id"> -->