			<div class="row mb-4">
				<div class="col-4">
					<label for="">Nombre</label>
				</div>
				<div class="col-8">
					{{form.nombre}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Descripcion</label>
				</div>
				<div class="col-8">
					{{form.descripcion}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Imagen</label>
				</div>
				<div class="col-8">
					{{form.imagen}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Media</label>
				</div>
				<div class="col-8">
					{{form.media}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Texto</label>
				</div>
				<div class="col-8">
					{{form.texto}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4">
					<label for="">Direccion web</label>
				</div>
				<div class="col-8">
					{{form.dirurl}}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-4"><label for="">Referencia imagen</label>
				</div>
				<div class="col-8">{{form.referencia_imagen}}</div>
			</div>
			<div class="row mb-4">
				<div class="col-4"><label for="">Referencia media</label>
				</div>
				<div class="col-8">{{form.referencia_media}}</div>
			</div>
			<div class="row mb-4">
				<div class="col-4"><label for="">Referencia texto</label>
				</div>
				<div class="col-8">{{form.referencia_texto}}</div>
			</div>
			<div class="row mb-4">
				<div class="col">
					<input class="btn btn-primary btn-block" type="submit" value="Grabar">	
				</div>
			</div>